.main-body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "navbar mainContent";
  grid-gap: 40px;
}

#nav-bar {
  grid-area: navbar;
  position: fixed;
}

#main-doc {
  grid-area: mainContent;
}

#nav-bar a {
  display: block;
  border: 1px solid black;
  padding: 5px;
  margin: 1px -25px;
  text-decoration: none;
  color: black;
}

header {
  font-size: 20px;
  font-weight: bold;
  margin: 25px 0;
}

code {
  background: #CCC;
  display: block;
  padding: 10px;
}
